html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

@font-face {
  font-family: 'Z';
  src: url("../fonts/zantroke-webfont.eot");
  src: url("../fonts/zantroke-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/zantroke-webfont.woff") format('woff'), url("../fonts/zantroke-webfont.ttf") format('truetype'), url("../fonts/zantroke-webfont.svg#pt_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/PTS75F-webfont.eot");
  src: url("../fonts/PTS75F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS75F-webfont.woff") format('woff'), url("../fonts/PTS75F-webfont.ttf") format('truetype'), url("../fonts/PTS75F-webfont.svg#pt_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold Italic';
  src: url("../fonts/PTS76F-webfont.eot");
  src: url("../fonts/PTS76F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS76F-webfont.woff") format('woff'), url("../fonts/PTS76F-webfont.ttf") format('truetype'), url("../fonts/PTS76F-webfont.svg#pt_sansbold_italic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Italic';
  src: url("../fonts/PTS56F-webfont.eot");
  src: url("../fonts/PTS56F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS56F-webfont.woff") format('woff'), url("../fonts/PTS56F-webfont.ttf") format('truetype'), url("../fonts/PTS56F-webfont.svg#pt_sansitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS55F-webfont.woff") format('woff'), url("../fonts/PTS55F-webfont.ttf") format('truetype'), url("../fonts/PTS55F-webfont.svg#pt_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption Bold';
  src: url("../fonts/PTC75F-webfont.eot");
  src: url("../fonts/PTC75F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTC75F-webfont.woff") format('woff'), url("../fonts/PTC75F-webfont.ttf") format('truetype'), url("../fonts/PTC75F-webfont.svg#pt_sans_captionbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTC55F-webfont.eot");
  src: url("../fonts/PTC55F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTC55F-webfont.woff") format('woff'), url("../fonts/PTC55F-webfont.ttf") format('truetype'), url("../fonts/PTC55F-webfont.svg#pt_sans_captionregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow Bold';
  src: url("../fonts/PTN77F-webfont.eot");
  src: url("../fonts/PTN77F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTN77F-webfont.woff") format('woff'), url("../fonts/PTN77F-webfont.ttf") format('truetype'), url("../fonts/PTN77F-webfont.svg#pt_sans_narrowbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTN57F-webfont.eot");
  src: url("../fonts/PTN57F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTN57F-webfont.woff") format('woff'), url("../fonts/PTN57F-webfont.ttf") format('truetype'), url("../fonts/PTN57F-webfont.svg#pt_sans_narrowregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src: url("../fonts/ptm55ft-webfont.eot");
  src: url("../fonts/ptm55ft-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ptm55ft-webfont.woff") format('woff'), url("../fonts/ptm55ft-webfont.ttf") format('truetype'), url("../fonts/ptm55ft-webfont.svg#pt_monoregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #3e999f;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}

.hljs {
  display: block;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

html.scrolling,
html.scrolling * {
  pointer-events: none !important;
}
section#slides article * {
  pointer-events: none !important;
}
html body section#slides article *[data-click] {
  pointer-events: all !important;
}
.backer {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 50px;
  height: 75px;
  width: 50px;
  background-color: #c00;
}
.backer:after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  border-style: solid;
  border-color: #c00 transparent transparent;
  border-width: 25px 25px 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.code-0 code {
  font-size: 48px;
}
.code-1 code {
  font-size: 42px;
}
.code-2 code {
  font-size: 36px;
}
.code-3 code {
  font-size: 28px;
}
.code-4 code {
  font-size: 24px;
}
.code-5 code {
  font-size: 20px;
}
html body .font-xxlarge>*,
html body .font-xxlarge>* * {
  font-size: 72px;
  line-height: 1.43;
}
.screenshot {
  background: none;
  padding: 0;
}
.screenshot img {
  width: 100%;
}
.half {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  vertical-align: top;
}
.one-third {
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  height: 80%;
  padding: 20px;
  position: relative;
  margin-top: 40px;
  text-align: center;
}
.one-third img {
  display: inline-block;
  height: 13rem;
  width: 13rem;
}
.one-third h2 {
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  font-size: 48px;
  line-height: 1.43;
  font-weight: bold;
}
.screen img {
  max-height: 70%;
}
.screen .url {
  font-size: 42px;
  line-height: 1.68;
  margin-top: 0;
}
.screen {
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.illustration {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.qrcode img {
  max-width: 90%;
  width: 90%;
  max-height: 70%;
  margin: auto;
  display: block;
}
.qrcode img.avatar {
  max-width: 50%;
  margin: 0;
}
.qrcode .wrapper {
  line-height: 0;
  width: 100%;
}
.qrcode .wrapper .half {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.qrcode .wrapper .half h2 {
  text-transform: none;
  font-size: 36px;
  line-height: 1.43;
}
.qrcode .wrapper .about-speaker {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.qrcode .wrapper .about-speaker p {
  font-size: 36px;
  height: auto;
  line-height: 1.68;
  margin: 0;
}
.qrcode .wrapper h1 {
  display: inline-block;
  font-size: 200px;
  vertical-align: middle;
}
.qrcode .wrapper h2 {
  display: inline-block;
  font-size: 75px;
  line-height: 1;
  text-align: left;
  vertical-align: middle;
}
.qrcode .wrapper .logotype {
  width: 35%;
  vertical-align: middle;
}
.qrcode .wrapper .link {
  width: 35%;
  vertical-align: middle;
}
.qrcode .wrapper .title {
  color: #d00;
}
.qrcode .wrapper p {
  height: 100px;
  line-height: 100px;
  font-size: 64px;
  white-space: nowrap;
}
.go-to-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin: auto;
  background: rgba(0,0,0,0.75);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.go-to-page.open {
  pointer-events: auto;
  opacity: 1;
}
.go-to-page input {
  pointer-events: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 140px;
  height: 140px;
  background: #e6e6e6;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-radius: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  font-size: 42px;
}
.go-to-page input:focus {
  background-color: #fff;
}
pre {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: pre;
}
pre.block {
  display: block;
}
pre code {
  font-family: "PT Mono";
  line-height: 1.68;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #333;
  font-family: "PT Sans";
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body:not(.fs) #slides {
  -webkit-transform: none !important;
          transform: none !important;
}
.progress {
  position: fixed;
  top: -4px;
  left: 0;
  right: 0;
  height: 4px;
  margin: auto;
  z-index: 1000;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}
.progress .value {
  height: 4px;
  width: 0;
  background-color: rgba(255,0,0,0.75);
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}
body.fs {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  -webkit-transform: none;
          transform: none;
}
body.fs .progress {
  top: 0;
}
body.fs #slides {
  width: 1200px;
  height: 675px;
  overflow: hidden;
  position: fixed;
  margin: 0;
  margin-top: -337.5px;
  margin-left: -600px;
  top: 50%;
  left: 50%;
}
body.fs #slides article {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
}
body.fs #slides article.current {
  opacity: 1;
  z-index: 110;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption";
  text-transform: uppercase;
}
ol {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 60px;
  list-style: decimal;
}
ol li {
  margin: 0 0 20px;
}
ul {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 60px;
  list-style: disc;
}
ul li {
  margin: 0 0 20px;
}
article {
  overflow: hidden;
  width: 1200px;
  height: 675px;
  margin: 20px auto;
  background-color: #fff;
  position: relative;
  color: #000;
  counter-increment: slide;
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
article.current {
  box-shadow: 0 0 0 10px rgba(255,255,255,0.25);
}
article:after {
  font-family: "PT Sans";
  content: counter(slide);
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  font-size: 14px;
  z-index: 100;
  border-radius: 100%;
  background-color: #fff;
}
article>.wrapper {
  line-height: 1.68;
}
article.cloud h1 {
  position: absolute;
  margin: auto;
  text-align: center;
  display: block;
  border-radius: 100%;
  background-color: #fff;
}
article.cloud h1>.wrapper {
  display: inline-block;
  vertical-align: middle;
}
article.cloud h1:after {
  content: ".";
  height: 0;
  width: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 30px 10px 0 10px;
  top: 100%;
  left: 50%;
  margin: -5px 0 0 -10px;
  -webkit-transform-origin: 10px -100px;
          transform-origin: 10px -100px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
article.title h1 {
  width: 100%;
  line-height: 3;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
article.dark {
  color: #fff;
}
article.center {
  text-align: center;
  line-height: 675px;
}
article>.wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
html body section#slides article iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all !important;
}
html body section#slides article iframe.half {
  width: 50%;
}
html body section#slides article iframe.half:first-child {
  right: auto;
}
html body section#slides article iframe.half:last-child {
  left: auto;
}
.blockquote {
  background-color: #e8e8e8;
  line-height: 675px;
  text-align: center;
}
.blockquote blockquote {
  width: 90%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 56px;
}
.blockquote blockquote time {
  font-size: 42px;
  opacity: 0.5;
}
.blockquote blockquote cite {
  opacity: 0.5;
  float: right;
  font-size: 42px;
}
.blockquote blockquote p {
  padding: 56px 0 0;
  clear: both;
  font-size: 42px;
  font-style: italic;
}
.blockquote blockquote p:before {
  content: "> ";
  font-style: normal;
}
ol {
  list-style: none !important;
  counter-reset: list-item;
}
ol li {
  counter-increment: list-item;
  padding: 0 0 0 70px;
}
ol li:before {
  text-align: right;
  display: inline-block;
  content: counter(list-item) ".";
  width: 50px;
  margin-left: -70px;
  margin-right: 20px;
}
ol ol li:before {
  content: counters(list-item, '.') ".";
}

article.title-slide {
  background-color: #f0db4f;
}
article.title-slide:after {
  display: none;
}
article.title-slide h1 {
  font-family: 'PT Sans Caption Bold';
  font-size: 300px;
  line-height: 300px;
  position: absolute;
  bottom: 0;
  right: 40px;
  color: #323330;
}
article.screen.screen--alert {
  background: #fff url("../images/alert.png") 50% 50% no-repeat;
  background-size: auto;
}
article.screen.screen--builder {
  background: #fff url("../images/themebuilder.png") 50% 50% no-repeat;
  background-size: contain;
}
article.screen.screen--stage-0 {
  background: #fff url("../images/stage_0.png") 50% 100% no-repeat;
  background-size: contain;
}
article.screen.screen--support-es6 {
  background: #fff url("../images/essupport.png") 50% 100% no-repeat;
  background-size: contain;
}
article.screen.screen--support-es7 {
  background: #fff url("../images/support_es7.png") 50% 100% no-repeat;
  background-size: contain;
}
article.screen.screen--support-esnext {
  background: #fff url("../images/support_esnext.png") 50% 100% no-repeat;
  background-size: contain;
}
article.screen.screen--admin-theme {
  background: #fff url("../images/admin_theme.png") 50% 100% no-repeat;
  background-size: contain;
}
article.screen.screen--admin-config {
  background: #fff url("../images/admin_config.png") 50% 100% no-repeat;
  background-size: contain;
}
article.screen.screen--sandbox {
  background: #fff url("../images/sandbox.png") 50% 100% no-repeat;
  background-size: contain;
}
.illustration.illustration--grunt {
  background-image: url("../images/grunt.png");
  background-position: 50% 50%;
  background-size: auto;
}
.illustration.illustration--gulp {
  background-image: url("../images/gulp.png");
  background-position: 50% 50%;
  background-size: auto;
}
.illustration.illustration--m {
  background-image: url("../images/magento.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.illustration.illustration--m1 {
  background-image: url("../images/m1.png");
  background-position: 50% 50%;
  background-size: cover;
}
.illustration.illustration--m2 {
  background-image: url("../images/m2.png");
  background-position: 50% 50%;
  background-size: cover;
}
.illustration.illustration--vaimo {
  background-image: url("../images/logo.png");
  background-position: 50% 50%;
  background-size: auto;
  background-color: #fff;
}
.illustration.illustration--why.cloud {
  background-image: url("../images/why.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.illustration.illustration--why.cloud h1 {
  width: 400px;
  height: 400px;
  left: 60%;
  top: 100px;
  line-height: 400px;
  text-align: center;
}
.illustration.illustration--why.cloud h1 .wrapper {
  font-size: 120px;
  line-height: 64px;
  text-align: center;
}
.illustration.illustration--why.cloud h1 .wrapper b {
  font-size: 64px;
  line-height: 64px;
}
.illustration.illustration--why.cloud h1:after {
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
.illustration.illustration--speed.cloud {
  background-image: url("../images/speed.png");
  background-position: 50% 50%;
  background-size: cover;
}
.illustration.illustration--speed.cloud h1 {
  width: 400px;
  height: 400px;
  right: 30%;
  top: 220px;
  line-height: 400px;
  text-align: center;
}
.illustration.illustration--speed.cloud h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}
.illustration.illustration--speed.cloud h1:after {
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
  -webkit-transform-origin: 10px -195px;
          transform-origin: 10px -195px;
}
.cloud.illustration.illustration--canwe {
  background-image: url("../images/can.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.cloud.illustration.illustration--canwe h1 {
  width: 300px;
  height: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 300px;
  text-align: center;
}
.cloud.illustration.illustration--canwe h1 .wrapper {
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}
.cloud.illustration.illustration--canwe h1:after {
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  -webkit-transform-origin: 10px -145px;
          transform-origin: 10px -145px;
}
.cloud.illustration.illustration--wecan {
  background-image: url("../images/can.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.cloud.illustration.illustration--wecan h1 {
  width: 300px;
  height: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 300px;
  text-align: center;
}
.cloud.illustration.illustration--wecan h1 .wrapper {
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}
.cloud.illustration.illustration--wecan h1:after {
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  -webkit-transform-origin: 10px -145px;
          transform-origin: 10px -145px;
}
.qrcode.compare .wrapper .half h2 {
  font-size: 64px;
  line-height: 80px;
}
.qrcode.compare p {
  font-size: 42px;
}
article.center.comparer {
  background: #008000;
  box-shadow: inset -600px 0 0 0 #f00;
}
article.center.comparer.chrome .wrapper .half:first-child:before {
  background-image: url("../images/crome.png");
}
article.center.comparer.firefox .wrapper .half:first-child:before {
  background-image: url("../images/firefox.png");
}
article.center.comparer.safari .wrapper .half:first-child:before {
  background-image: url("../images/safari.png");
}
article.center.comparer .wrapper {
  width: 100%;
}
article.center.comparer .wrapper .half {
  text-align: center;
}
article.center.comparer .wrapper .half:last-child:before {
  background-image: url("../images/jQurery.gif");
}
article.center.comparer .wrapper .half:before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  background-size: auto 200px;
}
article.center.comparer .wrapper .half h2 {
  color: #fff;
  font-size: 72px;
  text-transform: none;
}
.cloud.illustration.illustration--tools {
  background-image: url("../images/tools.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.cloud.illustration.illustration--tools h1 {
  width: 400px;
  height: 400px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 400px;
  text-align: center;
}
.cloud.illustration.illustration--tools h1 .wrapper {
  font-size: 108px;
  line-height: 108px;
  text-align: center;
}
.cloud.illustration.illustration--tools h1 .wrapper b {
  display: block;
  font-size: 43px;
  line-height: 48px;
}
.cloud.illustration.illustration--tools h1:after {
  display: none;
}
.cloud.illustration.illustration--support {
  background-image: url("../images/support.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.cloud.illustration.illustration--support h1 {
  width: 400px;
  height: 400px;
  right: 40px;
  top: 40px;
  line-height: 400px;
  text-align: center;
}
.cloud.illustration.illustration--support h1 .wrapper {
  font-size: 140px;
  line-height: 120px;
  text-align: center;
}
.cloud.illustration.illustration--support h1 .wrapper b {
  display: block;
  font-size: 32px;
  line-height: 40px;
}
.cloud.illustration.illustration--support h1:after {
  display: none;
}
.cloud.illustration.illustration--transpiler {
  background-color: #000;
  background-image: url("../images/transpiler.jpg");
  background-position: 50% 50%;
  background-size: 80% auto;
}
.cloud.illustration.illustration--transpiler h1 {
  width: 300px;
  height: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 300px;
  text-align: center;
}
.cloud.illustration.illustration--transpiler h1 .wrapper {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.cloud.illustration.illustration--transpiler h1:after {
  display: none;
}
.center.qrcode.transpiler .wrapper .half h2 {
  display: block;
  font-size: 100px;
  text-align: center;
}
.center.qrcode.transpiler .wrapper p {
  font-size: 56px;
}
.center.qrcode.config .wrapper .half h2 {
  display: block;
  font-size: 64px;
}
.cloud.illustration.illustration--babel {
  background-color: #000;
  background-image: url("../images/babel.jpg");
  background-position: 50% 50%;
}
.cloud.illustration.illustration--babel h1 {
  width: 300px;
  height: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 300px;
  text-align: center;
}
.cloud.illustration.illustration--babel h1 .wrapper {
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}
.cloud.illustration.illustration--babel h1:after {
  display: none;
}
