/* Regular */
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

/* condensed */
@font-face {
  font-family: 'RobotoCondensed Regular';
  font-style: normal;
  src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed Bold';
  font-style: normal;
  src: url('fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background: black;
}
#container {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  // border-boundary: display;
  border: 5px solid rgba(60, 118, 158, 0.8);
  overflow: hidden;
  background: white;
}
#current {
  width: 310px;
  height: 120px;
  padding-top: 25px;
  background-image: url("img/partlyCloudy_bg.jpg");
}
#bottom {
  position:relative;
  width: 310px;
  height: 40px;
  top: 140px;
  background-image: url("img/partlyCloudy_bg.jpg");
}
#city {
  text-align: center;
  font-family:'Roboto Medium';
  font-size: 40px;
  color: white;
}
#date {
  padding-top: 3px;
  padding-left: 40px;
  text-align: left;
  font-family:'RobotoCondensed Regular';
  font-size: 20px;
  color: #E6E6E6;
}
#temperature {
  top: 5px;
  padding-left: 25px;
  font-family:'Roboto Regular';
  font-size: 17px;
  color: #F3E2A9;
}
#minTemp {
  position : relative;
  top: 0px;
  left: 0px;
}
#maxTemp {
  position : relative;
  top: -45px;
  left: 60px;
}
.tempImage {
  position : relative;
  top: 0px;
  left: 0px;
  height : 40px;
  width : 40px;
}
.tempValue {
  position : relative;
  top: -15px;
  left: -18px;
}
#weatherImg {
  position: absolute;
  top: 75px;
  left: 200px;
  height : 80px;
  width : 80px;
}
#info {
  position: absolute;
  font-family:'Roboto Light';
  font-size: 17px;
  width: 310px;
  height: 150px;
  top: 140px;
  left: -2px;
}
#info1 {
  position: relative;
  top: -20px;
  left: 80px;
}
#info2 {
  position: relative;
  top: -35px;
  left: 80px;
}
#info3 {
  position: relative;
  top: -50px;
  left: 80px;
}
.dayValue {
  width : 60px;
}
.weatherSvg {
  position: relative;
  top: 25px;
  left: 10px;
  height : 60px;
  width : 60px;
}
.weatherValue {
  position: relative;
  top: 0px;
  left: 30px;
  height : 50px;
  width : 50px;
}
#page {
  height: 10px;
  width: 10px;
  padding-left: 155px;
}