body {
    margin: 0;
}
#cont {    
    background: #000000;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
p {
    font-size: 1.3em;
    color: #F9F9F9;
}
.box {
    position: absolute;
    top: 0px;
    left: 0px;
	width: 40px;
	height: 40px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    color: #FFF;
	background-image: url(assets/icon-favorite.png);
	background-position: 0px 0px;
}
#item1 {
	position: polar;
    polar-angle: 0deg;
    polar-distance: 80%;
}
#item2 {
	position: polar;
    polar-angle: 45deg;
    polar-distance: 80%;
}
#item3 {
	position: polar;
    polar-angle: 90deg;
    polar-distance: 80%;
}
#item4 {
	position: polar;
    polar-angle: 135deg;
    polar-distance: 80%;
}
#item5 {
	position: polar;
    polar-angle: 180deg;
    polar-distance: 80%;
}
#item6 {
	position: polar;
    polar-angle: 225deg;
    polar-distance: 80%;
}
#item7 {
	position: polar;
    polar-angle: 270deg;
    polar-distance: 80%;
}
#item8 {
	position: polar;
    polar-angle: 315deg;
    polar-distance: 80%;
}