body {
    margin: 0;
	padding: 0;
	background-color: black;
}
#layout {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	padding: 0;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    -webkit-clip-path: circle(50% at 50% 50%);
}
#content_image{
    position: absolute;
    content: url(assets/wine.png);
    width: 320px;
    height: 160px;
    top: 0px;
	margin: 0;
	padding: 0;
}
#content_text{
    position: absolute;
    background-color: #dfe3ee;
    width: 320px;
    height: 160px;
    top: 160px;
	margin: 0;
	padding: 0;
}
.text_category{
    font-size: 17px;
    color: #3b5998;
    text-align: center;
}
.text_title{
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.text_note{
    font-size: 14px;
    color: #000000;
    text-align: center;
}
#link{
    position: polar;
    polar-angle: -90deg;
    polar-distance: 80%;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    content: url(assets/ic_link_white_36px.svg);
	background-color: #3b5998;
}
.top-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 60px;
    padding: 0px 0px;
    margin: 0px 0px;
    background-position: 0px 0px;
    text-align: center;
    font-size: 24px;
}
.bottom-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.count {
    position: absolute;
    top: 80%;
    left: 30%;
    padding: 0px 0px;
    margin: 0px 0px;
    width: 22px;
    height: 22px;
    background-color: #DC143C;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    box-shadow: inset 3px 3px 4px #CD5C5C;
	text-align: center;
}
#profileImg {
    position: polar;
    polar-angle: 0deg;
    polar-distance: 85%;
    polar-orientation: center;
    background-size: 65px 65px;
    border-radius: 20%;
    background-image: url(assets/img.png);
}
#item1 {
    position: polar;
    polar-angle: -40deg;
    polar-distance: 100% fit;
    polar-orientation: center;
    background-image: url(assets/facebookblue.png);
}
#item2 {
    position: polar;
    polar-angle: -20deg;
    polar-distance: 100% fit;
    polar-orientation: center;
    background-image: url(assets/facebookblue.png);
}
#item3 {
    position: polar;
    polar-angle: 20deg;
    polar-distance: 100% fit;
    polar-orientation: center;
    background-image: url(assets/facebookblue.png);
}
#item4 {
    position: polar;
    polar-angle: 40deg;
    polar-distance: 100% fit;
    polar-orientation: center;
    background-image: url(assets/facebookblue.png);
}
#item5 {
    position: polar;
    polar-angle: 155deg;
    polar-distance: 100% fit;
    polar-orientation: counter-center;
    background-image: url(assets/white.png);
}
#item6 {
    position: polar;
    polar-angle: 180deg;
    polar-distance: 100% fit;
    polar-orientation: counter-center;
    background-image: url(assets/white.png);
}
#item7 {
    position: polar;
    polar-angle: 205deg;
    polar-distance: 100% fit;
    polar-orientation: counter-center;
    background-image: url(assets/white.png);
}